@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');


html {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin: 0.5rem 1rem;
    color: white;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight:400;
    font-size: 14px;
    background: black;

}

h1 h2 h3 h4 h5 h6 a {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}

#info {
    font-family:'Work+Sans', sans-serif;
    font-weight:300;
    /*font-size: 1.75rem;*/
}

.tag {
    font-size: 0.7rem;
}

.dropdown-item { 
    margin-top: 0rem;
}

.card-title {
    font-family:'Work+Sans', sans-serif;
    color: black;
    font-weight: 300;
    /*font-style: italic;*/
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.card-info {
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    line-height: 100%;

}

.portfolio-section {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 0rem;
}



.row {
	padding-bottom: 5rem;
}

.pl-6 {
    padding-left: 100px;
}

.pr-6 {
    padding-right: 100px;
}

.pt-7 {
    padding-top: 175px;
}
]

.mt-38px {
    margin-top: 38px;
}

.info-title {
    font-family:'Work+Sans', sans-serif;
    font-style: italic;
    padding-top: 1rem;
    font-weight: 500;
}

.card-body {
     padding: 0rem;
     margin-top: 2rem;
     margin-bottom: 3rem;
}

.image {
    position: relative;
    /*padding-bottom:64%;
}


.image img {
    /*position: absolute;*/
    top:-2.5%;
}

#info p {
    font-size:0.5em;
}

#nav {
    position: fixed;
}

.nav-link {
    font-size: 18px;
}

a .navbar-brand {
    font-size: 18px;
}

.navbar {

}

ul .navbar-nav {
    color: white;
}

.navbar-nav > li > a {
    font-weight:400;
}

.navbar-toggler {
    border: none;
    outline: none;
    padding-right: 0rem;

}

#header {
    width: 50%;
    padding-left:-2;
}

#btn {

}

img {

}

.photos {
}

.about-photo {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0rem;
}

/*#work-blurb {
    width: 42em;
}*/

.portfolio-title {
    color: black;
    font-size: 1.2rem; 
    font-weight: 300;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.portfolio-info {
    font-size: 0.8rem;
    color: white;
    text-align: left;
}

.portfolio-photo {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
}

.carousel-inner img {
  margin: auto;
}

.thumbnail {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    margin-top:0.5rem;
}

.social {
    font-size:1rem;
    font-weight:400;
}

.social p {
    margin-bottom: 7rem;
}

/*Hover Words Appear*/
.container-h {
  position: relative;
}

.image-hover {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  text-align: left;
  position: absolute;
  top: 10px;
  left: 16px;
  /*transform: translate(-100%, -800%);*/
  opacity: 0;
  transition: .5s ease;
  /*background-color: #fff;*/
}
.container-h:hover .overlay {
  opacity: 1;
}
.text {
  color: black;
  font-size: 0.8rem;
  font-weight: ;
  line-height: 1;
  position: absolute;
  white-space: nowrap;
  /*transform: translate(-72.55%, -800%);*/
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}


a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 0.75rem;
}
}/*end*/



/*Media Query*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

    /*body {
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: black;
    }*/
    
    #header {
        width: 50%;
    }

    #two {
    	padding-top: 2rem;
    }

    #one {
    	padding-top: 2rem;
    }

    .navbar {
		padding-left: 0rem;
		padding-right: 0rem;
	}

    .about-photo {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0rem;
    }

    #navbarNav {
        margin-top:2rem;
    }

    #work-blurb {
        width: 90%
    }

    .portfolio-photo {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 1.5rem;
    }

   /* .portfolio-section {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 5rem;
    }*/

    .portfolio-title {
	    font-size: 0.8rem;
	    padding-top: 1rem;
        padding-bottom: 0rem;
        text-align: left;
	}

	.portfolio-info {
    font-size: 1rem;
    }
    
    .pl-6 {
        padding-left: 0px;
    }
    
    .pr-6 {
        padding-right: 0px;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

    /*body {
    	margin-left: 3rem;
    	margin-right: 3rem;
    }*/

	#header {
	    width: 50%;
	}

	.navbar {
		padding-left: 0rem;
		padding-right: 0rem;
	}

    #navbarNav {
        margin-top:2rem;
    }

    #work-blurb {
        width: 90%
    }

    .portfolio-photo {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 2rem;
    }

    /*.portfolio-section {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 5rem;
    }*/

    #two {
    	padding-top: 2rem;
    }

    #one {
    	padding-top: 2rem;
    }

    .card-title {
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .card-info {
        font-weight: 300;
        font-size: 0.5rem;
        padding-bottom: 1.5rem;
        line-height: 100%;
    }

    .container-fluid {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .pl-6 {
        padding-left: 0px;
    }
    
    .pr-6 {
        padding-right: 0px;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    /*body {
    	margin-left: 5rem;
    	margin-right: 5rem;
    }*/

    .navbar {
		padding-left: 0rem;
		padding-right: 0rem;
	}

    #two {
    	padding-top: 2rem;
    }

    #one {
    	padding-top: 4rem;
    }

    .card-title {
	    font-size: 1.25rem;
	}

    #navbarNav {
        margin-top:2rem;
    }

    /*.portfolio-photo {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    }
    
    .portfolio-section {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 5rem;
    }*/

    .container-fluid {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .pl-6 {
        padding-left: 0px;
    }
    
    .pr-6 {
        padding-right: 0px;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

    /*body {
    margin-left: 4rem;
    margin-right: 4rem;
    }*/

	#two {
    	padding-top: 2rem;
    }

    #one {
    	padding-top: 10rem;
    }

    /*.portfolio-section {
        padding-left: 6rem;
        padding-right: 6rem;
    }*/

	/* indent dropdown 
	.dropdown-item { 
        padding-left: 0.5rem;
}*/


    
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    /*body {
    margin-left: 6.2rem;
    margin-right: 6.2rem;
    }*/

	#two {
    	padding-top: 2rem;
    }

    #one {
    	padding-top: 5rem;
    }

    .portfolio-section {
        padding-top: 5rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    /*.portfolio-photo {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;*/

	/* indent dropdown 
	.dropdown-item { 
        padding-left: 0.5rem;
}*/
}
